{% extends 'index.html' %}

{% block content %}
<title>About</title>
<div class="centered" id="aboutMeContainer">
    <div class="person">
        <div>
            <img class ="aboutMeImage" id="yinka" src="{{ url_for('static', filename='images/yinka.jpg') }}" alt="Yinka">
        </div>
        <div>
            <p>Name: Oluwayimika Adeyemi</p>
            <p>Major: Computer Science</p>
            <p>From: Bowie, Maryland</p>
        </div>
    </div>

    <div class="person">
        <div>
            <img class ="aboutMeImage" id="devin" src="{{ url_for('static', filename='images/devin.jpg') }}" alt="Devin">
        </div>
        <div>
            <p>Name: Devin Griffin </p>
            <p>Major: Computer Science</p>
            <p>From: Sparta, New Jersey </p>
        </div>
    </div>

    <div class="person">
        <div>
            <img class ="aboutMeImage" id="jennai" src="{{ url_for('static', filename='images/jennai_photo.jpg') }}" alt="Jennai">
        </div>
        <div>
            <p>Name: Jennai Jackson</p>
            <p>Major: Computer Science</p>
            <p>From: Rochester, New York</p>
        </div>
    </div>

    <div class="person">
        <div>
            <img class ="aboutMeImage" id="morgan" src="{{ url_for('static', filename='images/morgan.jpg') }}" alt="Morgan Headshot">
        </div>
        <div>
            <p>Name: Morgan Martin</p>
            <p>Major: Computer Science</p>
            <p>From: Atlanta, Georgia</p>
        </div>
    </div>

    <div class="person">
        <div>
            <img class ="aboutMeImage" id="sariah" src="{{ url_for('static', filename='images/sariah_adams.jpg') }}" alt="Sariah Headshot">
        </div>
        <div>
            <p>Name: Sariah Adams</p>
            <p>Major: Computer Science</p>
            <p>From: Columbus, Georgia </p>
        </div>
    </div>
    
</div>
{% endblock %}