{% extends 'index.html' %}

{% block content %}
<title>About</title>
<div class="centered" id="aboutMeContainer">
    <div class="person">
        <div>
            <img class ="aboutMeImage" id="yinka" src="{{ url_for('static', filename='images/yinka.jpg') }}" alt="Yinka">
        </div>
        <div>
            <p>Name: Oluwayimika Adeyemi</p>
            <p>Major: Computer Science</p>
            <p>From: Bowie, Maryland</p>
        </div>
    </div>

    <div class="person">
        <div>
            <img class ="aboutMeImage" id="" src="{{ url_for('static', filename='images/study-icon.png') }}" alt="">
        </div>
        <div>
            <p>Name: </p>
            <p>Major: </p>
            <p>From: </p>
        </div>
    </div>

    <div class="person">
        <div>
            <img class ="aboutMeImage" id="" src="{{ url_for('static', filename='images/study-icon.png') }}" alt="">
        </div>
        <div>
            <p>Name: </p>
            <p>Major: </p>
            <p>From: </p>
        </div>
    </div>

    <div class="person">
        <div>
            <img class ="aboutMeImage" id="" src="{{ url_for('static', filename='images/study-icon.png') }}" alt="">
        </div>
        <div>
            <p>Name: </p>
            <p>Major: </p>
            <p>From: </p>
        </div>
    </div>

    <div class="person">
        <div>
            <img class ="aboutMeImage" id="" src="{{ url_for('static', filename='images/study-icon.png') }}" alt="">
        </div>
        <div>
            <p>Name: </p>
            <p>Major: </p>
            <p>From: </p>
        </div>
    </div>
    
</div>
{% endblock %}