{% extends 'index.html' %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Courses</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    
    <div class="container">
        <h1>Courses</h1>
        
        <h2>Avaliable courses</h2>
        <ul>
            {% for course, teacher in courses %}
            <li>
                <strong>{{ course.name }}</strong> - Taught by: <em>{{ teacher.name }}</em>
                {% if current_user.user_type == "student" %}
                    {% if course.id in enrolled_courses %}
                        <form action="{{ url_for('unenroll', course_id=course.id) }}" method="post" style="display: inline;">
                            <button type="submit" class="red-btn">Unenroll</button>
                        </form>
                    {% else %}
                        <form action="{{ url_for('enroll', course_id=course.id) }}" method="post" style="display: inline;">
                            <button type="submit" class="red-btn">Enroll</button>
                        </form>
                    {% endif %}
                {% endif %}
            </li>
            {% endfor %}
        </ul>
</html>

{% endblock %}