{% extends 'index.html' %}

{% block content %}
<!-- Main Container -->
<div class="max-w-3xl mx-auto mt-12 px-6 text-center">

    <!-- Welcome Message -->
    <h1 class="text-4xl font-extrabold text-gray-800 mb-6">Welcome to KnowledgeBase!</h1>

    <!-- Logo Section -->
    <div class="logo-container mx-auto mb-8">
        <img id="logo" src="{{ url_for('static', filename='images/study-icon.png') }}" alt="Logo" class="mx-auto w-32 h-32">
    </div>

    <!-- Description Section -->
    <p id="siteDescription" class="text-lg text-gray-600 leading-relaxed">
        A personalized learning platform with adapted quizzes for students and course content management for instructors and program directors.
    </p>
    {% if not current_user.is_authenticated %}
    <!-- Action Button -->
    <div class="mt-8">
        <a href="{{ url_for('login') }}" class="inline-block bg-blue-600 text-white py-3 px-6 rounded-lg hover:bg-blue-700 transition-all">
            Get Started
        </a>
    </div>
    {% endif %}

</div>

{% endblock %}
