<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    </head>
    <body>
        <nav class="centered button" id="navbar">
            <ul>
                <!-- TO DO: Need to differentiate between what shows for teachers and students-->
                {% if current_user.is_authenticated %}
                    <li><a href="{{ url_for('profile') }}">Profile</a></li>
                    {% if current_user.user_type == "student" %}
                        <li><a href="{{ url_for('survey') }}">Learning Style Quiz</a></li> <!-- TO DO: Learning style selection and quiz only needs to show for students -->
                        <li><a href="{{ url_for('dashboard') }}">Student Dashboard</a></li>
                    {% elif current_user.user_type == "teacher" %}
                        <!-- TO DO: add teacher view dashboard-->
                        <li><a href="{{ url_for('courses') }}">Courses</a></li>
                    {% endif %}
                {% else %}
                    <li><a href="{{ url_for('login') }}">Login/Register</a></li>
                {% endif %}
                <li><a href="{{ url_for('home') }}">Home</a></li>
                <li><a href="{{ url_for('about') }}">About Us</a></li>
            </ul>
        </nav>
        
        <!-- Flash messages -->
        <div class="flash-messages">
            {% with messages = get_flashed_messages(with_categories=True) %}
                {% if messages %}
                    <ul class="flashes">
                        {% for category, message in messages %}
                            <li class="message {{ category }}">{{ message }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            {% endwith %}
        </div>
        {% block content %}
        {% endblock %}
    </body>
</html>