<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    </head>
    <body>
        <nav class="centered button" id="navbar">
            <ul>
                {% if current_user.is_authenticated %}
                    <li><a href="{{ url_for('profile') }}">Profile</a></li>
                    <li><a href="{{ url_for('survey') }}">Learning Style Quiz</a></li>
                    <li><a href="{{url_for('dashboard')}}">Student Dashboard</a></li>
                {% else %}
                    <li><a href="{{ url_for('login') }}">Login/Register</a></li>
                {% endif %}
                <li><a href="{{ url_for('home') }}">Home</a></li>
                <li><a href="{{ url_for('about') }}">About Us</a></li>
            </ul>
        </nav>
        {% block content %}
        {% endblock %}
    </body>
</html>