{% extends 'index.html' %}

{% block content %}
<title>Login/Register</title>
    <h1>Login</h1>
    <div class="centered">
        <form id="loginForm" method="POST" action="/login">
            <label for="email">Email:</label>
            <input type="email" class="form" id="email" name="email" placeholder="Enter email" required>
    
            <label for="password">Password:</label>
            <input type="password" class="form" id="password" name="password" placeholder="Enter password" required>

            <button class="red-btn" type="submit">Log in</button>

            <a id="rgstr-btn" href="{{ url_for('register') }}">Sign Up</a>
        </form>
    </div>

    
{% endblock %}
