<!-- For the user profile page -->
<!-- Directs users to the page that displays their information  -->

{% extends "index.html" %}

{% block content %}
<title>User Profile</title>
<h1>Welcome, {{ user.fname }} {{ user.lname }}!</h1>
<div class="profile-container">
    <p><strong>Email:</strong> {{ user.email }}</p>
    <p><strong>School:</strong> {{ user.school }}</p>
    <p><strong>User Type:</strong> {{ user.user_type }}</p>
</div>


<!-- Form to select learning style : Only shows for students -->
 {%if user.user_type == 'student' %}
<form method="POST" action="{{ url_for('profile') }}">
    {{ form.hidden_tag() }}
    <div class="form-group">
        <label for="learning_style">Select Learning Style:</label>
        {{ form.learning_style(class="form-control") }}
        {{ form.submit(class="red-btn") }}
    </div>
</form>
{% endif %}

<a href="{{ url_for('logout') }}" class="red-btn">Logout</a>
{% endblock %}

<!-- The profile.html template is a simple page that displays the user's username, email, and the date they joined the site. -->

