{% extends "index.html" %}

{% block content %}
<div class="max-w-4xl mx-auto mt-10 bg-white shadow-md rounded-lg p-6">
    <h1 class="text-3xl font-bold text-gray-800 mb-6 text-center">{{ student.name }}</h1>

    <div class="flex flex-col items-center text-gray-700">
        <div class="text-center">
            <p><strong>Learning Style:</strong> {{ student.learning_style }}</p>
            <p><strong>Learning Pace:</strong> {{ student.learning_pace }}</p>
        </div>

        {% if competencies %}
        <div class="overflow-x-auto mt-6">
            <table class="w-full border border-gray-200 rounded-lg shadow-md">
                <thead class="bg-gray-100">
                    <tr class="text-gray-700">
                        <th class="p-3 text-center">Topic</th>
                        <th class="p-3 text-center">Competence Level</th>
                    </tr>
                </thead>
                <tbody>
                    {% for topic, (competence_level, _) in competencies.items() %}
                        <tr class="border-t">
                            <td class="p-3">{{ topic|title_case }}</td>
                            <td class="p-3 text-center">
                                {% if competence_level == 'None' %}
                                    <span class="text-red-500">None</span>
                                {% elif competence_level == 'Familiarity' %}
                                    <span class="text-yellow-500">Familiarity</span>
                                {% elif competence_level == 'Competent' %}
                                    <span style="color: #16a34a;">Competent</span>
                                {% elif competence_level == 'Mastery' %}
                                    <span class="text-blue-500">Mastery</span>
                                {% else %}
                                    <span class="text-gray-500">Unknown</span>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {% else %}
        <p class="text-gray-600 mt-4">No progress data available.</p>
    {% endif %}

    </div>

    <div class="mt-6 flex justify-center">
        {% if current_user.user_type == "program_manager" %}
            <a href="{{ url_for('course_details', course_id=course.id) }}" 
               class="bg-blue-600 text-white py-3 px-4 rounded-lg hover:bg-blue-700 transition duration-300">
                Back to Course Details
            </a>
        {% else %}
            <a href="{{ url_for('view_students', course_id=course.id) }}" 
               class="bg-blue-600 text-white py-3 px-4 rounded-lg hover:bg-blue-700 transition duration-300">
                Back to Students List
            </a>
        {% endif %}
    </div>
</div>
{% endblock %}